/* src/components/OrderStatus.css */
.order-status {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .stage {
    text-align: center;
  }
  
  .text-green-500 {
    color: #48bb78;
  }
  
  .text-orange-500 {
    color: #f97316;
  }
  
  .text-black {
    color: black;
  }
  
  .text-xs {
    font-size: 12px;
  }
  
  .text-2xl {
    font-size: 1.5rem;
  }